.Card-container {
  width: 48%;
  min-width: 300px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  background-color: white;
  margin-top: 20px;
}

.Card-photo {
  height: 200px;
  width: 100%;
  background-color: white;
}
